<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/skeleton.css">
  <link rel="stylesheet" href="/assets/app.css">
  <title>DaggerDoc</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="location-bar"><div class="location-bar-entry"><label>&nbsp;</label></div></div>
    </div>
  </div>
  <div class="container">
    <div class="row first-content">
      <div>
        <b>Listing Documents Found Within</b><br>
        <code><%= DaggerDoc.doc_path %></code>
      </div>
    </div>
    <div class="row first-content">
      <div>
        <ul>
          <% tree.values.first.each do |content| %>
            <%= erb :directory_tree, layout: false, locals: { tree: content } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
